.footer {
      background: var(--secondary-color);
      color: var(--footer-text-color);
      padding-top: 5rem;
    }
    .footer .footer-top {
        padding-bottom: 3rem;
    }
    .footer .footer-logo .logo{
        font-size: 2.5rem;
        font-weight: 800;
        color: var(--white);
        text-decoration: none;
    }
    .footer .footer-logo .logo .hu{
        color: var(--primary-color);
    }
    .footer .footer-about p{
        margin-top: 1rem;
    }
    .footer .link h3 {
      color: var(--primary-color);
      font-weight: 700;
      margin-bottom: 1.5rem;
      font-size: 1.2rem;
    }
    .footer .link a {
      color: var(--footer-text-color);
      text-decoration: none;
      transition: all 0.2s ease;
      display: inline-block;
      margin-bottom: 0.5rem;
    }
    .footer .link a:hover {
      color: var(--primary-color);
      transform: translateX(5px);
    }
    
    .footer-social-icons a {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background-color: var(--dark-gray);
        color: var(--white);
        text-decoration: none;
        margin-right: 0.5rem;
        transition: all 0.3s ease;
    }
    .footer-social-icons a:hover {
        background-color: var(--primary-color);
        transform: translateY(-3px);
    }

    .footer .footer-copyright-text {
        padding: 2rem 0;
        margin-top: 3rem;
        border-top: 1px solid #495057;
        text-align: center;
        font-size: 0.9rem;
    }
/* PARRAFO DE ABAJO */
    p,li,a {
        color: white;
    }

    .ka{
        color: #e68900;
    }